<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @instituation.name %>
</p>

<%= link_to 'Edit', edit_instituation_path(@instituation) %> |
<%= link_to 'Back', instituations_path %>
